* {
    font-family: "Calibri";
    font-size: 22px;
}

.main {
    position: relative;
    background-color: rgb(245, 245, 245);
    height: 250px;
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 2px rgb(11, 30, 5, 0.150);
}

.tag {
    position: relative;
    /* left: 57px; */
    /* top: 20px; */
    background-color: aliceblue;
    display: table-cell;
    padding: 3px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(3, 10, 5, 0.100);
}

.bal {
    position: relative;
    width: 200px;
    top: -18px;
    left: 1px;
    text-align: center;
}

.btn {
    position: relative;
    border-radius: 100px;
    top: -25px;
    width: 100px;
    transition: all 0.23s ease;
}

.btn:hover {
    transform: none;
    transition: transform 0.3s ease;
}

.md {
    position: relative;
    font-size: 10px;
    top: -14px;
    left: -1px;
}